<!-- <head>
  <title>Rustle</title>
</head> -->
<div class= "container">
  <header class= "jumbotron">
    <div id="nav">
      <div id="menu-button"></div>
      <a href="/"><img src="#" alt=""></a>
      <div class="social search"></div>
    </div>
  </header>
    {{outlet}}
  <hr>
  <footer>
  </footer>
</div>
